// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

html {
    background-color: $background-color;
}

body {
    font-size: 1.25rem;
    color: $primary-color;
}

strong {
    color: $primary-color;
}

a {
    color: $link-color;

    &:hover {
        color: $secondary-color;
    }
}

nav.navbar {
    background-color: $background-color;

    div#navbarMenu {
        background-color: $background-color;

        div.navbar-link {
            color: $link-color;
        
            &:hover {
                color: $secondary-color;
                background-color: $background-color;
            }
        
            &:not(.is-arrowless)::after {
                border-color: $link-color;
            }
        }
        
        div.navbar-dropdown {
            background-color: $background-color;
        }
        
        div.navbar-item.has-dropdown:hover {
            div.navbar-link {
                background-color: $background-color;
            }
        }
    }
}



section.hero.is-primary.is-bold {
    display: flex;
    background: linear-gradient(to right, lighten($primary-color, 10), lighten($primary-color, 20));

    &.cover {
        $hero-background: lighten($primary-color, 10);
        background: $hero-background;

        div.hero-body {
            background-image: url('/images/hero-image.png');
            background-repeat: no-repeat;
            background-position: 5% top;
            background-size: contain;
        
            div.title,
            div.subtitle {
                display: inline-block;
                border-radius: 5px;
                background-color: transparentize($hero-background, 0.4);
            }
        }
    }
}

section.hero.is-medium div.hero-body {
    height: 350px;
}


.button.is-link {
    background-color: $primary-color;

    &:hover {
        background-color: $secondary-color;
    }
}

.title {
    color: darken($primary-color, 10);
}

.subtitle.is-4 {
    color: darken($primary-color, 10);
}

.label {
    color: $primary-color;
}

.checkbox:hover,
.radio:hover {
    color: $primary-color;
}

div#locationMap {
    width: 100%;
    height: 350px;
}

div.column > img.logo {
    max-height: 312px;
}


img {
    &.centered {
        display: block;
        margin: 0 auto;
    }

    &.people {
        height: 128px;
        border-radius: 50%;
    }
}