// VARIABLES

$family-sans-serif: 'Dosis', sans-serif;
$weight-normal: 500;
$size-normal: 1.25rem;

$background-color: lighten(#FFBAA5, 10);
$primary-color: #025E73;
$secondary-color: #93B7BF;
$link-color: darken($secondary-color, 25);
