// VARIABLES

$family-sans-serif: 'Dosis', sans-serif;
$weight-normal: 500;
$size-1: 3.25rem;
$size-2: 2.75rem;
$size-3: 2.25rem;
$size-4: 1.75rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;

$background-color: lighten(#FFBAA5, 10);
$primary-color: #025E73;
$secondary-color: #93B7BF;
$link-color: darken($secondary-color, 25);

$success: green;
$failure: #FF3860;
